name: Database migration
on:
  push:
    paths:
      - prisma/migrations/**
      - prisma/seed.ts
    branches:
      - uat
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ca-central-1
  PROJECT: atlas

jobs:
  migrate:
    runs-on: codebuild-atlas-runner-${{ github.ref_name == 'main' && 'production' || 'uat' }}-${{ github.run_id }}-${{ github.run_attempt }}
    environment: ${{ github.ref_name == 'main' && 'production' || 'uat' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.ROLE_ARN }}

      - name: Install AWS CLI
        id: install-aws-cli
        uses: unfor19/install-aws-cli-action@v1
        with:
          arch: amd64

      - name: Set Context Variable
        id: context-vars
        shell: bash
        run: |
          endpoint=$(
            aws ssm get-parameter \
            --name "/$PROJECT/global/database_endpoint" \
            --with-decryption \
            --query "Parameter.Value" \
            --output text
          )

          credentials=$(
            aws ssm get-parameter \
            --name "/$PROJECT/global/database_master_credentials" \
            --with-decryption \
            --query "Parameter.Value" \
            --output text
          )

          echo "database_url=postgresql://${credentials}@${endpoint}/$PROJECT?sslmode=no-verify" >> $GITHUB_OUTPUT

      - name: Apply all pending migrations to the database
        run: pnpm exec prisma migrate deploy
        env:
          DATABASE_URL: "${{ steps.context-vars.outputs.database_url }}"

      - name: Seeding database
        run: |
          echo "Executing seeders..."

          pnpm prisma generate
          pnpm prisma db seed
        env:
          DEPLOY_STAGE: "${{ github.ref_name == 'main' && 'production' || 'uat' }}"
          DATABASE_URL: "${{ steps.context-vars.outputs.database_url }}"
