networks:
  network:

volumes:
  database:
    driver: local

services:
  db:
    image: postgres:18.1-alpine3.22
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    volumes:
      - database:/var/lib/postgresql
      - ./docker/postgres/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    environment:
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"

  api:
    restart: always
    image: api
    container_name: api
    networks:
      - network
    env_file:
      - ./.env
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT}:${PORT}"
